body{
    max-width: 1400px;
    background-color: aqua;
    margin: 0 auto;
}

.banner{
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    padding:25px;
    font-size: 1.25em;
    gap: 30px;
    border-radius: 25px;
}

.banner button{
    background-color: violet;
    padding: 10px 30px;
    font-size:1.5em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.banner button:hover{
    background-color: chocolate;
    transition: 2s;
}

.banner img{
    width: 100%;
    height: 500px;
    border-radius: 50px 50px 50px 0px;
}

